@model RetailManagementTool.Models.PromotionType.PromotionTypeDetail

@{
    ViewBag.Title = "Details";
}

<h2>Promotion Type Details</h2>

<div>
    <h4>PromotionTypeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PromotionTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PromotionTypeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
