@model RetailManagementTool.Models.Zone.ZoneDetail

@{
    ViewBag.Title = "Details";
}

<h2> Zone Details</h2>

<div>
    <h4>ZoneDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZoneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoneId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoneName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZoneId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
