@model RetailManagementTool.Models.Promotion.PromotionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Promotion Details</h2>

<div>
    <h4>PromotionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PromotionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromoTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromoTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromoType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromoType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PromotionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
