@model RetailManagementTool.Models.Promotion.PromotionDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="color:#b40505">Promotion Details</h2>
<hr />
<div class="row">
    <div class="col-md-7">
        <dl class="dl-horizontal" style="border:solid;border-color:grey">
            <dt>
                @*
            @Html.DisplayNameFor(model => model.PromotionId)
                *@
            </dt>

            <dd>
                @Html.HiddenFor(model => model.PromotionId)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.PromotionDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PromotionDescription)
            </dd>
            <hr />
            <dt>
                @*
            @Html.DisplayNameFor(model => model.PromoTypeId)
                *@
            </dt>

            <dd>
                @Html.HiddenFor(model => model.PromoTypeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PromoType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PromoType)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.PromotionValue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PromotionValue)
            </dd>
            <br />
        </dl>
    </div>
</div>
<div class="row">
    <br />
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-2">

            <p>
                @Html.ActionLink("Edit Promotion", "Edit", new { id = Model.PromotionId })
            </p>
        </div>
        <div class="col-md-6">
            <p>
                @Html.ActionLink("To Full List of Promotions", "Index")
            </p>
        </div>
    }
    else
    {
        <p>
            @Html.ActionLink("To Full List of Promotions", "Index")
        </p>
    }
</div>
