@model RetailManagementTool.Models.Department.DepartmentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>

<div>
    <h4>DepartmentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentPromotionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentPromotionName)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
